body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: lightgreen;
}
.image-card {
    display: inline-block;
    width: 300px;
    background-color: red;

    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 2px;
    border-radius: 5px;

}
.image-card img {
width: 100%;
display: block;
}
.badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    font-size: 11px;
    border-radius: 3px;
    padding: 5px 10px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
}
.image-card:hover .overlay{
    opacity: 1;
}